/* You can add global styles to this file, and also import other style files */
body{
  color: #FFF;
}

.title{
  font-family: Helvetica;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 2.25px;
  text-transform: uppercase;
  text-align: center;
  padding: 32px 0;
}

.col-centered{
  float: none;
  margin: 50px auto;
}

.urls{
font-family: Helvetica;
font-size: 12px;
color: #FFFFFF;
}

.no-margin{
  margin: 0px;
}

.m-20{
  margin: 20px 0;
}

.log-in-back {
  position: relative;
  height: 100vh;
  background-image: linear-gradient(-45deg, #4CA1AF 0%, #009688 100%);
}

.jumbo{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.input-fat{
  background: #FFFFFF;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
  border-radius: 2px;
  height: 55px;
}

.btn-fat-light{
  background: #FFFFFF;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.20);
  border-radius: 2px;
  font-family: Helvetica;
  font-size: 14px;
  color: #4CA1AF;
  padding: 20px 50px;
}

.btn-fat-light:hover{
  color: #FFF;
}

.social-icon{
  margin-right: 10px;
}

.social-icon:hover{
  opacity: 0.70;
}

.custom-nav{
  height: 80px;
  border-radius: 0;
  color: #FFF;
  background-image: linear-gradient(-45deg, #4CA1AF 0%, #009688 100%);
}

.custom-nav-fat{
  height: 200px;
  border-radius: 0;
  color: #FFF;
  background-image: linear-gradient(-45deg, #4CA1AF 0%, #009688 100%);
}

/* BUTTON MATERIAL ADD */

.btn-add {
  cursor: pointer;
  position: absolute;
  z-index: 1000;
  top: 170px;
  right: 40px;
  background-image: linear-gradient(-45deg, #FF5722 0%, #F57C00 100%);
  box-shadow: 0 5px 20px 0 rgba(0,0,0,0.20);
  min-width: 56px;
  width: 56px;
  height: 56px;
  padding: 17px 18px;
  border-radius: 28px;
}

.btn-add:hover{
  background: #ffa243;
}

.btn-add .glyphicon {
  color: #FFF;
  font-size: 20px;
}

.filter-services{
  cursor: pointer;
  color: #FFF;
  padding: 5px 15px;
  border: 1px solid #E0E7EE;
  border-radius: 5px;
}

.filter-services:hover{
  color: #FFF;
}

.custom-list{
  background: #FFFFFF;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
}

.custom-list li{
  padding: 20px 15px;
  color: #F57C00;
  font-size: 14px;
  box-shadow: 0 5px 20px 0 rgba(0,0,0,0.20);
}

.custom-list li img {
  float: left;
  margin-right: 8px;
}

/* CARD */

.card {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.card {
  margin-top: 10px;
  box-sizing: border-box;
  border-radius: 2px;
  background-clip: padding-box;
  padding: 30px 40px;
}
.card span.card-title {
  font-family: Helvetica-Bold;
  font-size: 24px;
  color: #FFFFFF;
  line-height: 22px;
}

.card .card-image {
  position: relative;
  overflow: hidden;
}
.card .card-image img {
  border-radius: 2px 2px 0 0;
  background-clip: padding-box;
  position: relative;
  z-index: -1;
}
.card .card-image span.card-title {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 16px;
}
.card .card-content {
  padding: 16px;
  border-radius: 0 0 2px 2px;
  background-clip: padding-box;
  box-sizing: border-box;
}
.card .card-content p {
  color: #878787;
  margin: 0;
}
.card .card-content span.card-title {
  line-height: 48px;
}
.card .card-action {
  border-top: 1px solid rgba(160, 160, 160, 0.2);
  padding: 16px;
}
.button-dark {
  color: #FFF;
  margin-right: 16px;
  transition: color 0.3s ease;
  text-transform: uppercase;
  background-image: linear-gradient(-45deg, #4CA1AF 0%, #009688 100%);
  border-radius: 2px;
  padding: 10px 40px;
}
.card .card-action a:hover {
  color: #bbddbb;
  text-decoration: none;
}

/* CUSTOM INPUT */

.group 			  {
  position:relative;
  margin-bottom:45px;
}
input 				{
  color: #000;
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:300px;
  border:none;
  border-bottom:1px solid #757575;
}
input:focus 		{ outline:none; }

/* LABEL ======================================= */
label 				 {
  color:#999;
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label 		{
  top:-20px;
  font-size:14px;
  color:#5264AE;
}

/* BOTTOM BARS ================================= */
.bar 	{ position:relative; display:block; width:300px;}
.bar:before, .bar:after 	{
  content:'';
  height:2px;
  width:0;
  bottom:1px;
  position:absolute;
  background:#5264AE;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%;
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%;
  width:100px;
  top:25%;
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}


/* GRID */

.grid{
  width: 100%;
}

.service-toggle{
  text-align: center;
  background: none;
  border: none;
  margin-bottom: 20px;
}

.service-toggle:hover{
  background: none;
  border: none;
}

.service-toggle:active{
  background-color: #212323;

}
