<div class="log-in-back">
    <div class="col-md-4 text-center jumbo">
      <h3>Sign<br>Up</h3>
      <h5 class="m-20">Welcome to Room-Inn, we will help you with your roomies expenses.</h5>
      <div class="profileImage">
          <img src="../assets/svg/AddPic.svg">
      </div>
      <form style="margin-top:-15px;">
          <div class="form-group no-margin">
            <input type="text" class="input-fat form-control" id="inputUser" placeholder="Fullname*">
          </div>
          <div class="form-group no-margin">
            <input type="email" class="input-fat form-control" id="inputEmail" placeholder="Email*">
          </div>
          <div class="form-group no-margin">
              <input type="password" class="input-fat form-control" id="inputPassword" placeholder="Password*">
            </div>
          <div class="form-group">
              <input type="text" class="input-fat form-control" id="inputPhone" placeholder="Phone Number*">
            </div>
          <button type="submit" class="btn btn-default btn-fat-light m-20">SIGN UP</button>
      </form>
    </div>
</div>
