<app-side-bar></app-side-bar>

<nav class="navbar custom-nav">
    <div class="container-fluid">
      <div class="navbar-header col-sm-12">
        <p class="title">ROOMIES</p>
      </div>
    </div>
  </nav>

  <div class="container">
      <div class="row">
          <div class="col-md-5 col-centered">
              <ul class="list-group custom-list">
                <!-- TODO SERVICE LIST COMPONENT -->
                  <li class="list-group-item" style="padding:10px 15px;">
                    <div class="media">
                      <div class="media-left media-middle">
                          <img class="media-object" src="../assets/svg/defaultUser.svg" alt="...">
                      </div>
                      <div class="media-body">
                        <h5 class="media-heading">Israel Garcia</h5>
                        <p style="color: #878787">Roomie Owner</p>
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item" style="padding:10px 15px;">
                      <div class="media">
                        <div class="media-left media-middle">
                            <img class="media-object" src="../assets/svg/defaultUser.svg" alt="...">
                        </div>
                        <div class="media-body">
                          <h5 class="media-heading">David Diaz</h5>
                          <p style="color: #878787">Roomie</p>
                        </div>
                      </div>
                    </li>
                <!-- TODO SERVICE LIST COMPONENT -->
              </ul>
          </div>
      </div>
    </div>
