<div class="log-in-back">
      <div class="col-md-4 text-center jumbo">
        <img class="no-margin" src="../assets/svg/homeIcon.svg">
        <h3>Room-Inn</h3>
        <h5 class="m-20">The Must Have App For Roomies</h5>
        <form>
            <div class="form-group no-margin">
              <input type="email" class="input-fat form-control" id="inputUser" placeholder="Email">
            </div>
            <div class="form-group">
              <input type="password" class="input-fat form-control" id="inputPassword" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-default btn-fat-light m-20">LOG IN</button>
        </form>
          <div class="m-20">
            <a href="#"><img class="social-icon" src="../assets/svg/facebookIcon.svg"></a>
            <a href="#"><img class="social-icon" src="../assets/svg/googleIcon.svg"></a>
          </div>
          <a class="urls" routerLink="/signup">DON’T HAVE AN ACCOUNT, SIGN UP!</a>
      </div>
</div>
