<app-side-bar></app-side-bar>

<nav class="navbar custom-nav-fat">
    <div class="container-fluid">
      <div class="navbar-header col-sm-12">
        <p class="title">SERVICES</p>
      </div>
    </div>
    <div class="navbar-header col-sm-12 text-center">
      <h2 class="">$ 453.53</h2>
      <a class="filter-services">All</a>
     </div>
</nav>

<a class="btn-add"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>


<div class="container">
  <div class="row">
      <div class="col-md-5 col-centered">
          <ul class="list-group custom-list">
            <!-- TODO SERVICE LIST COMPONENT -->
              <li class="list-group-item" style="padding:10px 15px;">
                <div class="media">
                  <div class="media-left media-middle">
                      <img class="media-object" src="../assets/svg/serviceRent.svg" alt="...">
                  </div>
                  <div class="media-body">
                    <h5 class="media-heading">Rent</h5>
                    <p style="color: #878787">$500.00</p>
                  </div>
                </div>
              </li>
            <!-- TODO SERVICE LIST COMPONENT -->
          </ul>
      </div>
  </div>
</div>
