body{
    font-family: 'Roboto', sans-serif;
    }

.hero {
    background-image: linear-gradient(359deg, #08b9ac, #009688, #009688);
    width: 100%vh;
    height: 100vh;
    display: block;
}
.logo{
    position: absolute;
    top:120px;
    left:430px;
    width: 350px;
    height: 350px;
}

.room{
    width: 280px;
    height: 32px;
    font-size: 42px;
    font-weight: bold;
    line-height: 0.89;
    text-align: center;
    color: white;
    position: absolute;
    top:390px;
    left:466px;
    }
.must{
    width: 280px;
    height: 58px;
    font-size: 30px;
    text-align: center;
    color: white;
    position: absolute;
    top:450px;
    left:466px;
    }
.log-in {
    width: 80px;
    height: 28px;
    font-size: 12px;
    font-weight: bold;
    color: #ffffff;
    position: absolute;
    top: 20px;
    right: 20px;

}
.logo-border{
    width: 72px;
    height: 21px;
    border-radius: 2px;
    background-color: #009688;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    border: solid 1px #ffffff;
    position: absolute;
    top: 25px;
}

.footer {
    width: 1920px;
    height: 92px;
    background-color: #025d56;
}

.features1 {
    margin-top: 60px;
}

.features2 {
    margin-bottom: 30px;
}
.facebook {
    position: absolute;
    left: 1300px;
    top: 2320px;
    width: 40px;
    height: 40px;
}
.by {
    position: absolute;
    top: 14px;
    left:-320px;
    font-weight: 200;
    text-align: center;
    color: white;
}
.adress{
    position: absolute;
    top: 32px;
    left:-320px;
    font-weight: 200;
    text-align: center;
    color: white;
}
 .gradient{
    background-image: linear-gradient(178deg, #ffffff, #e8e8e8);
}

.shadow{
    box-shadow: 0px 0px 20px -2px rgba(0,0,0,0.75);
}


.footer-distributed{
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 55px 50px;
    margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
    width: 33%;
}

/* The company logo */

.footer-distributed h3, .hero h3{
    color:  #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
}

.footer-distributed h3 span, .hero h3 span{
    color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
    color:  #ffffff;
    margin: 20px 0 12px;
    padding: 0;
}

.footer-distributed .footer-links a{
    display:inline-block;
    line-height: 1.8;
    text-decoration: none;
    color:  inherit;
}

.footer-distributed .footer-company-name{
    color:  #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
    width: 33%;
}

.footer-distributed .footer-center i{
    background-color:  #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p{
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin:0;
}

.footer-distributed .footer-center p span{
    display:block;
    font-weight: normal;
    font-size:14px;
    line-height:2;
}

.footer-distributed .footer-center p a{
    color:  #5383d3;
    text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
    width: 33%;
}

.footer-distributed .footer-company-about{
    line-height: 20px;
    color:  #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span{
    display: block;
    color:  #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons{
    margin-top: 25px;
}

.footer-distributed .footer-icons a{
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color:  #33383b;
    border-radius: 2px;

    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;

    margin-right: 3px;
    margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

    .footer-distributed{
        font: bold 14px sans-serif;
    }

    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right{
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }

    .footer-distributed .footer-center i{
        margin-left: 0;
    }


.class2{
    color:  #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
}
.room-in-text{
    position: absolute;
    top: 150px;
    bottom: 100px;
    width: 280px;
    height: 32px;
    

