<app-side-bar></app-side-bar>

<nav class="navbar custom-nav">
    <div class="container-fluid">
      <div class="navbar-header col-sm-12">
        <p class="title">HOUSE DETAILS</p>
      </div>
    </div>
  </nav>

  <div class="col-sm-5 col-sm-offset-4">
      <div class="card">
          <div class="card-image">
              <img class="img-responsive" src="http://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7TDlCYzRROE84YWM/materialdesign_introduction.png">
              <span class="card-title">house.title</span>
          </div>

          <div class="card-content">
              <p>house.description</p>
          </div>

          <div class="card-action">
              <a href="#">Edit</a>
              <a href="#">Disable</a>
          </div>
      </div>
  </div>
